<!-- app/views/home/index.html.erb -->

<div class="dashboard-container">
  <%= render partial: 'shared/sidebar_menu' %>
  <div class="content">
  <%= render partial: 'shared/header' %>
    <div class="watermark"></div>
  </div>
</div>
