.data-uploader{
  padding: 20px;
}

h2 {
  color: #495057;
}

.file-input-container {
  margin-bottom: 20px;
}

.file-label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
  color: #495057;
}

.file-input {
  width: 99%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.upload-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.upload-button:hover {
  background-color: #0056b3;
}