.filter-container{
  margin: 10px;
}

.voter-list-table{
  margin: 10px;
}

thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

tbody tr {
  background-color: #d7dfde;
  text-align: center;
}

th, td {
    padding: 12px 15px;
}

tbody tr:hover {
  color: #009879;
  background-color: rgb(228, 227, 226);
}

/* Styles for buttons */
.buttons-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5f94f7;
}

.print-button, .disable-button {
  padding: 6px 16px;
  margin-right: 10px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  border-radius: 10px;
}

.print-button {
  background-color: #4caf50;
}
.print-button:hover {
  background-color: #347536;
}

.disable-button {
  background-color: #f44336;
}
.disable-button:hover {
  background-color: #9e2c23;
}

.button-link{
  color: white;
  text-decoration: none;
}
