.filter-container{
  margin: 10px;
}

.voter-list-table{
  margin: 10px;
}

thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

th, td {
    padding: 12px 15px;
}

tbody tr:hover {
  color: #009879;
  background-color: rgb(228, 227, 226);
}

/* Styles for buttons */
.print-button, .disable-button {
  padding: 6px 12px;
  margin-right: 10px;
  text-decoration: none;
  text-align: center;
  color: #fff !important;
  border-radius: 4px;
}

.print-button {
  background-color: #4caf50;
}

.disable-button {
  background-color: #f44336;
}

/* Container holding both filter and search containers */
.filter-search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Style for the filter container */
.filter-container {
  display: flex;
  align-items: center;
}

/* Style for the search container */
.search-container {
  display: flex;
  align-items: center;
}

/* Additional styles for form elements */
.form-container {
  margin-top: 10px;
}

.search-input {
  padding: 5px;
  width: 200px; /* Adjust width as needed */
}

.search-button {
  margin-left: 5px;
}