.filter-container{
  margin: 10px;
}

.voter-list-table{
  margin: 10px;
}

thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

th, td {
    padding: 12px 15px;
}

tbody tr:hover {
  color: #009879;
  background-color: rgb(228, 227, 226);
}